{% extends "layout.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='deviceEditor.js')}}"></script>
{% endblock %}

{% block body_attribs %}
{{super()}}
onload='getLastEdited("{{ devices[0] }}", "{{ csrf_token() }}")'
{% endblock body_attribs %}

{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        {%- for device_id in devices %}
          <ul class="nav nav-sidebar">
            <li>
              <a href="#" onclick='loadDeviceData("{{ device_id }}","{{ csrf_token() }}")'>{{ device_id }}</a>
            </li>
            <ul class="nav nav-sidebar">
            {%- for sensor_id in sensors if device_id[-4:] == sensor_id[-4:] %}
              <li>
                  <a href="#" onclick='loadSensorData("{{ sensor_id }}","{{ csrf_token() }}")' style="padding-left:60px !important; font-weight: normal;">{{ sensor_id }}</a>
              </li>
            {%- endfor %}
            </ul>
          </ul>
          <hr style="margin-left: 20px; margin-right: 20px; border-color: #C3C4C4;">
          {%- endfor %}
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="padding:5px 0px;">
          <div id="uneditable" class="navbar navbar-default" style="padding: 40px; color: #9D9D9D;"></div>
          <div id="editable" style="margin: 30px;">
          </div>
      </div>
  </div>

</div>
{% endblock %}
