{% block doc -%}

<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>

{%- block html %}

  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                    <script>
                        message = '{{ message }}';
                        alert(message);
                    </script>
                {% endfor %}
              {% endif %}
            {% endwith %}

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}"><!--"//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome.min.css')}}"><!--"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='graphstyle.css')}}">
    {%- endblock styles %}

    {%- endblock head %}
  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

    {% block navbar %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Horaimon</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/editor"><i class="fa fa-cogs fa-2x"></i></a></li>
              {% if current_user.is_authenticated %}
                          <li><a href="{{ url_for('passwdChange') }}"><i class="fa fa-key fa-2x"></i></a></li>
                          <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-2x"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {%- endblock navbar %}

    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script><!--"//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"-->
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script><!--"//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"-->

    {%- endblock scripts %}

    {%- endblock body %}
  </body>

{%- endblock html %}
</html>

{% endblock doc -%}
