{% extends "layout.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='d3.min.js')}}"></script>
<script src="{{url_for('static', filename='graphs.js')}}"></script>
{% endblock %}

{% block body_attribs %}
  {{super()}}
  onload='paint("{{ sensors[0] }}")'
{% endblock body_attribs %}

{% block content %}
    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-6 col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {%- for sensor_id in sensors %}
                <li>
                    <a href="#" onclick='paint("{{ sensor_id }}")'>{{ sensor_id }}</a>
                </li>
            {%- endfor %}
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 id="sensor-ide-title" class="page-header"></h1>
          <div class="centered">
            <div id="chart-gauge"></div>
            <div id="chart-container">
              <button type="button" id="reset-zoom">Reset zoom</button>
              <div id="chart"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock %}







<!--



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-2 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {%- for sensor_id in sensors %}
            <li>
                <a href="#" onclick='paint("{{ sensor_id }}")'>{{ sensor_id }}</a>
            </li>
        {%- endfor %}
      </ul>
    </div>
  </div>

  <div class="col-xs-6 col-xs-offset-6 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
    <div id="content" class="centered">
        <div id="chart-gauge"></div>

        <div id="chart-container">
            <button type="button" id="reset-zoom">Reset zoom</button>
            <div id="chart"></div>
        </div>
    </div>
  </div>
</div>

 -->
