{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block body_attribs %}
{{super()}}
{% endblock body_attribs %}

{% block content %}
    <div class="centered">
        <div class="page-header">
                <h1>Cambio de contraseñas</h1>
        </div>
        <div class="col-md-4">
                {{ wtf.quick_form(form) }}
        {{ form.csrf_token }}
        </div>
    </div>
{% endblock %}
