body {
    padding-top: 50px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    }
}

.sidebar a{
  padding-left: 40px !important;
  color: #6E6E6E;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12pt;
}

/* ---------------------------------------------------------------------- */
/*ESI DASHBOARD*/
.fa-cogs {
font-size: 2em;
}

/* ---------------------------------------------------------------------- */

/*
 * Main content
 */

/*.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
    padding-right: 40px;
    padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}*/


/*
 * Placeholder dashboard ideas
 */

/*.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}*/

/*EASYLOG*/
/*.host > a {
    color: black;
    border-bottom: 1px solid grey;
    border-left-width: 13px;
    border-left-style: solid;
    border-left-color: white;
}

.host i.icon-alert {
    color: #d9534f;
}

.host i.icon-info {
    float: right;
}

.subject {
    display: inline-block;
    border: 1px solid gray;
    border-width: 1px 4px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.status-unknown > a { border-left-color: #888; }
.subject.status-unknown {
    border-color: #888;
}

.status-ok > a { border-left-color: #5cb85c; }
.subject.status-ok {
    border-color: #5cb85c;
}

.status-unstable > a { border-left-color: #0275d8; }
.subject.status-unstable {
    border-color: #0275d8;
}

.status-warning > a { border-left-color: #f0ad4e; }
.subject.status-warning {
    border-color: #f0ad4e;
}

.status-error > a { border-left-color: #d9534f; }
.subject.status-error {
    border-color: #d9534f;
}

.status-alert > a { border-left-color: #292b2c; }
.subject.status-alert {
    border-color: #292b2c;
}

.panel-unknown, .panel-ok, .panel-unstable, .panel-warning, .panel-error, .panel-alert {
    border: 1px solid #ccc;
    border-left-width: 10px;
}

.panel-heading {
    border-bottom: 1px solid #ccc;
}

.panel-body {
    padding: 10px;
}

.panel-unknown                 { border-left-color: #ddd; }
.panel-unknown>.panel-heading  { background-color: #eee; }

.panel-ok                      { border-left-color: #5cb85c; }
.panel-ok>.panel-heading       { background-color: #eee; }

.panel-unstable                { border-left-color: #0275d8; }
.panel-unstable>.panel-heading { background-color: #eee; }

.panel-warning                 { border-left-color: #f0ad4e; }
.panel-warning>.panel-heading  { background-color: #eee; }

.panel-error                   { border-left-color: #d9534f; }
.panel-error>.panel-heading    { background-color: #eee; }

.panel-alert                   { border-left-color: #292b2c; }
.panel-alert>.panel-heading    { background-color: #eee; }


.embedded-log {
    margin: 6px 0;
    padding: 8px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}


.embedded-log .overflow-table {
    max-height: 250px;
    overflow: auto;
}

.embedded-log .header {
    padding: 3px;
    background-color: #eee;
}

.embedded-log .controls {
    float: right;
    padding: 0;
    margin: 0;
}

.embedded-log .controls i {
    padding: 4px;
}

.embedded-log table i {
    margin-right: 4px;
}

.embedded-log .path {
    float: left;
}

.embedded-log .path i {
    margin: 0 4px;
}

.embedded-log .value-none    { background-color: #f5f5f5; }
.embedded-log .value-ok      { background-color: #dff0d8; }
.embedded-log .value-warning { background-color: #fcf8e3; }
.embedded-log .value-fail    { background-color: #f2dede; }
.embedded-log .value-error   { background-color: #f2dede; }
.embedded-log .value-alert   {
    color: white;
    background-color:  #888;
}

.loading {
    font-size: 120%;
    margin: 5px;
}*/
