/*.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
    height:20px;
    padding: 1% 0;
}*/

/*body {
    background-color: linen;
    height: 100%;
}*/

/*#contents {
    color: maroon;
}*/

/*#header {
    text-align: center;
    background-image: url("bgHeader.jpg");
    background-repeat: repeat-x;
}*/

/*#chart-gauge {
    width: 350px;
    margin: 0 auto;
}*/
