<div class="col-sm-3 col-md-2 sidebar">
    {%- for device_id in devices %}
      <ul class="nav nav-sidebar">
        <li>
          <a href="#" onclick='loadDeviceData("{{ device_id }}")'>{{ device_id }}</a>
        </li>
        <ul class="nav nav-sidebar">
        {%- for sensor_id in sensors if device_id[-4:] == sensor_id[-4:] %}
          <li>
             <a href="#" onclick='loadSensorData("{{ sensor_id }}")' style="padding-left:60px !important; font-weight: normal;">{{ sensor_id }}</a>
          </li>
        {%- endfor %}
        </ul>
      </ul>
      <hr style="margin-left: 20px; margin-right: 20px; border-color: #C3C4C4;">
    {%- endfor %}
</div>