<div class="col-xs-6 col-sm-2 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {%- for sensor_id in sensors %}
           <li>
               <a href="#" onclick='paint("{{ sensor_id }}")'>{{ sensor_id }}</a>
           </li>
        {%- endfor %}
    </ul>
</div>